

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.abschnitt_hr_lang { 
    display: block;
    color: #87aa1e;
    background-color: #87aa1e;
    height: 2px;
    margin-top: 0.5em;
    margin-bottom: 0.0em;
    margin-left: 35%;
    margin-right: 35%;
    border-style: inset;
}

.abschnitt_hr_kurz { 
    display: block;
    color: #87aa1e;
    background-color: #87aa1e;
    height: 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    margin-left: 45%;
    margin-right: 45%;
    border-style: inset;
}

.scrolloff {
    pointer-events: none;
}

.ablauf_kasten{
    background: #c8beb9;
}

.ablauf-inner-row{
    width: 100%;
    height: 100%;
}

.ablauf_rechtsbuendig{
    display: inline-block;
    text-align: right;
    margin-left: 40%;
}

.ablauf_linksbuendig{
    display: inline-block;
    text-align: left;
    margin-right: 30%;
}

.arrow-right {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #c8beb9;
}

.arrow-left {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid #c8beb9; 
}

.ablauf_h2{
    padding-top: 1%;
    margin-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
}
.ablauf_p{
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
}

.ablauf_punkt_start{
    padding-left: 40%;
}

.ablauf_punkt_zentrum{
    padding-left: 40%;

}

.ablauf_punkt_ende{
    padding-left: 40%;
}

.unsichtbar{
    opacity: 0;
}