

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.abschnitt_hr_lang { 
    display: block;
    color: #87aa1e;
    background-color: #87aa1e;
    height: 2px;
    margin-top: 0.5em;
    margin-bottom: 0.0em;
    margin-left: 35%;
    margin-right: 35%;
    border-style: inset;
}

.abschnitt_hr_kurz { 
    display: block;
    color: #87aa1e;
    background-color: #87aa1e;
    height: 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    margin-left: 45%;
    margin-right: 45%;
    border-style: inset;
}

.scrolloff {
    pointer-events: none;
}

.ablauf_kasten{
    background: #c8beb9;
}

.ablauf_rechtsbuendig{
    text-align: right;
    margin-left: 30%;
}

.ablauf_linksbuendig{
    text-align: left;
    margin-right: 30%;
}

.ablauf_h2{
    padding-top: 1%;
    margin-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
}
.ablauf_p{
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
}

.ablauf_punkt_start{
    padding-top: 23%;
    padding-left: 40%;
}

.ablauf_punkt_zentrum{
    padding-left: 40%;

}

.ablauf_punkt_ende{
    padding-left: 40%;
}